<%= form_for(@transaction) do |f| %>
    <% if @transaction.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this @transaction from being saved:</h2>

            <ul>
                <% @transaction.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :amount %>
        <%= f.text_field :amount %>
    </div>

    <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div class="field">
        <%= f.label :category %>
        <%= f.text_field :category %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
