<h1>Transactions</h1>
<table>
    <tr>
        <th>User ID</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Category</th>
        <th>Created at</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <% @transactions.each do |transaction| %>
        <tr>
            <td><%= transaction.user_id %></td>
            <td><%= number_to_currency transaction.amount/100, format: "%n %u", unit: "₽" %></td>
            <td><%= transaction.description %></td>
            <td><%= transaction.category %></td>
            <td><%= transaction.created_at.localtime.strftime("%-d.%m.%Y %k:%M %Z") %></td>
            <td><%= link_to "Show", transaction %></td>
            <td><%= link_to "Edit", edit_transaction_path(transaction) %></td>
            <td><%= link_to "Delete", transaction, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
    <% end %>
</table>
